form {
  border: 1px solid black;
  border-radius: 0.4rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-input-container input {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 0.4rem;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.secondary-input-container {
  display: flex;
  gap: 0.5rem;
}

.secondary-input-container label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.secondary-input-container label > input,
.secondary-input-container label > select {
  padding: 0.1rem;
  font-size: 14px;
  text-align: center;
  border: 1px solid black;
  border-radius: 0.4rem;
}

.controls .btn-container {
  display: flex;
  gap: 0.5rem;
}

.controls .btn-container button {
  min-width: 70px;
  padding: 0 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.4rem;
}
