.options-container {
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.options-container select {
  padding: 0.1rem;
  font-size: 14px;
  text-align: center;
}
