div.tabs {
  border: 1px solid black;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}

div.tabs > button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  width: 70px;
}

div.tabs > button.selected {
  font-weight: 700;
}
